.revenue {
  display: flex;
  flex-direction: row;
}

.revenue .revenue-item {
  width: 500px;
  height: auto;
}

.row {
  display: block;
}

.product-mng {
  width: 1000px !important;
  height: auto;
  max-width: 100%;
}

.action-item {
  padding: 0 10px;
}
.input-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.input-area button {
  margin-left: 10px;
}

